/AddWordTesting.class
/FarasaStub.class
/GetWordTesting.class
/MarkFavoriteTesting.class
/RecentSearchHistoryTesting.class
/RemoveWordTesting.class
/SearchHistoryTesting.class
/SearchMeaningTesting.class
/SearchWordTesting.class
/SegmentWordWithDiacriticsTesting.class
/UpdateWordTesting.class
/ImportFileTesting.class
/r.class
/WordDAOTest.class
/getMeanings.class
/scrape.class
/s.class
/d.class
/saveWordAndUrduMeaning.class
/getwordfromdb.class
/fetcharabicwordt.class
/saveWordandUrdumeaning.class
/updatefarsimeant.class
/getfarsimeaningt.class
/insertimporteddatat.class
